---
import Layout from '../layouts/Layout.astro'
import '../styles/global.css'
import { StockChartContainer } from '../components/StockChart/StockChartContainer'
// JS here is not logged in the browser as this is server-side rendered
console.log('logged in terminal')
---

<Layout title="Welcome to Astro.">
  <main class="flex justify-center items-center w-full flex-col">
    <div class="prose text-center">
      <h1 class="mt-8">Stock performance tracker</h1>
    </div>
    <div class="w-full p-8">
      <StockChartContainer client:load />
    </div>
  </main>
</Layout>
