---
import Layout from '../layouts/Layout.astro'
import '../styles/global.css'
import { ChartApp } from '../components/ChartApp/ChartApp'
console.log('logged in terminal') // JS here is not logged in the browser as this is server-side rendered
---

<Layout title="Welcome to Astro.">
  <main class="flex justify-center items-center w-full flex-col">
    <div class="prose text-center">
      <h1 class="mt-8">Stock performance tracker</h1>
    </div>
    <div class="w-full p-8">
      <ChartApp client:only="react" />
    </div>
  </main>
</Layout>
