---
import Layout from '../layouts/Layout.astro'
import '../styles/global.css'
import StockChart from '../components/StockChart/StockChart'
import { stockData, labels } from '../data/mockStockData';

console.log({stockData, labels})
---

<Layout title="Welcome to Astro.">
  <main class="flex justify-center items-center w-full flex-col">
    <div class="prose text-center">
      <h1 class="mt-8">Stock performance tracker</h1>
    </div>

    <div class="w-full p-8">
      <StockChart data={stockData} {labels} client:load />
    </div>
  </main>
</Layout>
