---
import Layout from '../layouts/Layout.astro'
import '../styles/global.css'
import { TwelvedataStockChart } from '../components/TwelveData/TwelvedataStockChart'
import { StockLabel } from '../components/TwelveData/types'

console.log('logged in terminal') // JS here is not logged in the browser as this is server-side rendered
---

<Layout title="Welcome to Astro.">
  <main class="flex justify-center items-center w-full flex-col">
    <div class="prose text-center">
      <h1 class="mt-8">Stock performance tracker</h1>
    </div>
    <div class="w-full p-8">
      <TwelvedataStockChart symbol={StockLabel.VFIAX} client:load />
    </div>
  </main>
</Layout>
